## Pair programming Estadística Descriptiva
### Ejercicios estadística descriptiva

En este caso usaremos el mismo DataFrame que hemos estado usando en los últimos pairs. El ejercicio que os planteamos es:

Eres un analista de datos que trabaja para una organización internacional que se enfoca en el desarrollo y el bienestar de los países. Tu objetivo es realizar un análisis inicial de estadísticas descriptivas sobre varios países utilizando el conjunto de datos proporcionado.

Objetivo: Realizar un análisis de estadísticas descriptivas para comprender mejor la situación de los países en términos de diversos indicadores.

Instrucciones:









Calcula la correlación entre las variables de "fertility_rate" y "life_expectancy". Interpreta la relación entre estas dos variables. ¿Qué tipo de correlación hay? Explica la razón de esta relación

Bonus:
Visualiza la distribución de la variable "cpi" utilizando un histograma y comenta sobre la distribución de los índices de percepción de corrupción.

Encuentra el país con la mayor diferencia entre el "gdp" (Producto Interno Bruto) y el "co2-emissions" (emisiones de dióxido de carbono).

Calcula el porcentaje promedio de personas que participan en la fuerza laboral(population_labor_force_participation) para todos los países.

Genera un mapa de calor (heatmap) de la matriz de correlación de todas las variables numéricas y discute las relaciones más destacadas.

Recuerda proporcionar interpretaciones y conclusiones basadas en los resultados obtenidos en cada paso.

In [1]:
#importamos librerias:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from scipy.stats import shapiro, kstest

import warnings
warnings.filterwarnings("ignore")

pd.set_option('display.max_columns', None)

In [16]:
#importamos el csv:

df_w=pd.read_csv('world_data_full_nulos.csv')

Calcula las siguientes estadísticas descriptivas para las variables numéricas:

Media

Mediana

Desviación estándar

Mínimo

Máximo

In [17]:
df_w_num=df_w.describe(exclude=[object])
df_w_num

,density,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,co2-emissions,cpi,cpi_change,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,life_expectancy,maternal_mortality_ratio,minimum_wage,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
count,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.00000,195.000000,195.000000,195.000000,195.000000,195.000000,1.950000e+02,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000
mean,134.504533,39.117553,255.212661,103.783133,20.214974,360.546392,125.91547,144.193600,6.722346,2.698138,32.015426,1.002457,4.772959e+11,102.470213,37.963388,21.332804,72.279679,160.392265,2.194133,32.637234,1.839840,333.542718,62.738068,16.573964,40.822404,6.886364,279.461044,19.092351,20.232434
std,157.306774,21.386448,237.568235,154.158811,9.790765,322.402259,176.08265,51.883287,23.420457,1.258921,23.358162,0.349328,2.160948e+12,12.912156,28.341597,19.243394,7.327734,224.918945,2.603545,18.823620,1.653596,131.210331,9.975339,6.478356,19.911710,4.824084,134.929314,23.899943,66.543939
min,1.265000,0.600000,0.000000,0.000000,5.900000,1.000000,1.01600,99.030000,-4.300000,0.980000,0.000000,0.000000,4.727146e+07,23.400000,0.800000,1.400000,52.800000,2.000000,0.010000,0.200000,0.010000,10.084000,38.000000,0.000000,8.000000,0.090000,5.464000,-40.900557,-175.198242
25%,26.168500,22.650000,53.895500,12.500000,11.450000,83.000000,8.12400,114.470000,1.050000,1.710000,11.450000,0.790000,8.476801e+09,99.350000,12.650000,6.100000,67.450000,16.500000,0.530000,17.700000,0.360000,333.542718,57.250000,12.550000,30.900000,3.590000,279.461044,4.553072,-7.658537
50%,83.000000,39.200000,241.038000,42.000000,18.250000,256.000000,41.15500,129.780000,2.600000,2.270000,32.015426,1.002457,3.814529e+10,102.470213,35.200000,14.800000,72.800000,67.000000,1.570000,32.100000,1.570000,333.542718,62.738068,16.573964,37.900000,5.920000,279.461044,17.357822,20.939444
75%,165.500000,54.850000,340.072500,104.391566,28.445000,506.500000,166.58750,151.270000,5.800000,3.565000,47.450000,1.185000,2.420877e+11,107.550000,61.100000,31.550000,77.250000,175.000000,2.194133,43.750000,2.875000,333.542718,68.300000,20.300000,47.300000,8.840000,279.461044,40.106102,48.046657
max,847.000000,82.600000,964.000000,936.000000,46.080000,1876.000000,727.97300,550.930000,254.900000,6.910000,98.300000,2.000000,2.142770e+13,142.500000,136.600000,84.500000,85.400000,1150.000000,13.590000,81.600000,8.420000,973.560000,86.800000,37.200000,219.600000,28.180000,984.812000,64.963051,178.065032

In [14]:
for column in df_w_num.columns:
    print(column)
    print(f'La mediana es :{round(df_w_num[column].median(),2)}')

density
La mediana es :145.91
agricultural_land
La mediana es :39.16
land_area
La mediana es :239.3
armed_forces_size
La mediana es :104.09
birth_rate
La mediana es :19.23
calling_code
La mediana es :289.2
co2-emissions
La mediana es :146.25
cpi
La mediana es :136.99
cpi_change
La mediana es :6.26
fertility_rate
La mediana es :2.48
forested_area
La mediana es :32.02
gasoline_price
La mediana es :1.0
gdp
La mediana es :140116474752.5
gross_primary_education_enrollment
La mediana es :102.47
gross_tertiary_education_enrollment
La mediana es :36.58
infant_mortality
La mediana es :20.29
life_expectancy
La mediana es :72.54
maternal_mortality_ratio
La mediana es :167.7
minimum_wage
La mediana es :2.19
out_of_pocket_health_expenditure
La mediana es :32.37
physicians_per_thousand
La mediana es :1.75
population
La mediana es :333.54
population_labor_force_participation
La mediana es :62.74
tax_revenue
La mediana es :16.57
total_tax_rate
La mediana es :39.36
unemployment_rate
La mediana es :6.4
urban_population
La mediana es :279.46
latitude
La mediana es :21.5
longitude
La mediana es :34.49

Identifica el país con la mayor densidad de población y el país con la menor población en el conjunto de datos.

In [19]:
df_w.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,continent
0,Afghanistan,60.0,AF,58.1,652.230000,323.000000,32.49,93.0,Kabul,8.672,149.9000,2.300000,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.700000,47.9,Kabul,64.500000,638.000000,0.43,Pashto,78.4,0.28,333.542718,48.900000,9.300000,71.400000,11.120000,279.461044,33.939110,67.709953,Asia
1,Albania,105.0,AL,43.1,28.748000,9.000000,11.78,355.0,Tirana,4.536,119.0500,1.400000,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.000000,7.8,Tirana,78.500000,15.000000,1.12,Albanian,56.9,1.20,333.542718,55.700000,18.600000,36.600000,12.330000,279.461044,41.153332,20.168331,Europe
2,Algeria,18.0,DZ,17.4,255.212661,317.000000,24.28,213.0,Algiers,150.006,151.3600,2.000000,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.400000,20.1,Algiers,76.700000,112.000000,0.95,Arabic,28.1,1.72,333.542718,41.200000,37.200000,66.100000,11.700000,279.461044,28.033886,1.659626,Africa
3,Andorra,164.0,AD,40.0,468.000000,103.783133,7.20,376.0,Andorra la Vella,469.000,144.1936,6.722346,EUR,1.27,34.0,1.51,3.154058e+09,106.4,37.963388,2.7,Andorra la Vella,72.279679,160.392265,6.63,Catalan,36.4,3.33,77.142000,62.738068,16.573964,40.822404,6.886364,67.873000,42.506285,1.521801,Europe
4,Angola,26.0,AO,47.5,255.212661,117.000000,40.73,244.0,Luanda,34.693,261.7300,17.100000,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.300000,51.6,Luanda,60.800000,241.000000,0.71,Portuguese,33.4,0.21,333.542718,77.500000,9.200000,49.100000,6.890000,279.461044,-11.202692,17.873887,Africa

In [35]:
# condicion a aplicar : [df_w['density']==df_w['density'].max()]
df_w['country'][df_w['density']==df_w['density'].max()]

133    Palestinian National Authority
Name: country, dtype: object

In [37]:
#comprobarlo:
df_w[df_w['density']==df_w['density'].max()]

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,continent
133,Palestinian National Authority,847.0,desconocido,39.117553,255.212661,103.783133,20.214974,360.546392,desconocido,125.91547,144.1936,6.722346,desconocido,2.698138,32.015426,1.002457,4.772959e+11,102.470213,37.963388,21.332804,desconocido,72.279679,160.392265,2.194133,Arabic,32.637234,1.83984,333.542718,62.738068,16.573964,40.822404,6.886364,279.461044,31.952162,35.233154,Asia

In [38]:
# condicion a aplicar : [df_w['population']==df_w['population'].min()]
df_w['country'][df_w['population']==df_w['population'].min()]

120    Nauru
Name: country, dtype: object

In [39]:
df_w[df_w['population']==df_w['population'].min()]

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,continent
120,Nauru,541.0,NR,39.117553,21.0,103.783133,20.214974,674.0,Yaren District,125.91547,144.1936,6.722346,AUD,2.698138,32.015426,1.002457,133000000.0,102.470213,37.963388,21.332804,desconocido,72.279679,160.392265,2.194133,English,32.637234,1.83984,10.084,62.738068,16.573964,40.822404,6.886364,279.461044,-0.522778,166.931503,Oceania

Calcula la tasa promedio de natalidad (birth_rate) para todos los países en el conjunto de datos.

In [40]:
df_w['birth_rate'].mean()

20.214973544973546

Realiza un análisis de la mortalidad infantil (infant_mortality) y clasifica los países en tres categorías: baja, moderada y alta mortalidad infantil.

In [42]:
df_w.loc[:,['birth_rate','country']]

     birth_rate      country
0         32.49  Afghanistan
1         11.78      Albania
2         24.28      Algeria
3          7.20      Andorra
4         40.73       Angola
..          ...          ...
190       17.88    Venezuela
191       16.75      Vietnam
192       30.45        Yemen
193       36.19       Zambia
194       30.68     Zimbabwe

[195 rows x 2 columns]